.current_projects {
	
	padding-top: 20px;
	padding-bottom: 40px;

	article {
		
		width: 100%;
		padding-top: 50px;

		> div {
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 5%;
				bottom: 40%;
				left: 5%;
				right: 5%;
				background: transparent url('../imgs/projects/friendticker.png') center top no-repeat;
				background-size: 100% auto;
			}

		}

		.btn {
			position: absolute;
			top: 0;
			right:0;
		}

		.fui-plus-inverted {
			display: block;
		}

		.fui-cross-inverted {
			display: none;
		}
		


		.project-type {
			width: 100%;
		}

		// 1026 x 627
		section {
			position: absolute;
			top: 5%;
			bottom: 40%;
			left: 5%;
			right: 5%;
			padding: 1em 1.5em;
			background-color: transparent;
			opacity: 1;
			border: 1px solid #444;
			transition-property: background-color;
			transition-duration: 0.5s;
			transition-timing-function: ease-in;


			.project-title {
				position: absolute;
				top: -7.5%;
				left: 0;
				width: 100%;
				// background-color: #f00;
				color: #fff;

				
			}

			.project-details {
				opacity: 0;
				transition-property: opacity;
				transition-duration: 0.5s;
				transition-timing-function: ease-out;
				overflow: hidden;

				h5, h6, p {
					position: relative;
					left: -100%;
					transition-property: left;
					transition-timing-function: ease-out;
					transition-duration: 0.5s;
					transition-delay: 0;
				}

			}
		}
	
		&:target {
			
			.fui-plus-inverted {
				display: none;
			}

			.fui-cross-inverted {
				display: block;
			}

			section {
				
				background-color: rgba(255, 255, 255, 0.9);

				.project-details {
					opacity: 1;

					h5, h6, p {
						left: 0;
					}

				}

			}

		}

	}

}