.current_projects {
	
	padding-top: 40px;
	padding-bottom: 40px;



	// EACH PROJECT

	article {

		margin-bottom: 6em;

		p {
			word-break: break-word;
		}
		
	}



	// PROJECT TYPE: DESKTOP OR MOBILE SCREEN

	.project-type-wrapper {

		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 5%;
			bottom: 40%;
			left: 5%;
			right: 5%;
		}

		&.phone {

			width: 80%;
			margin: 0 auto;

			&:before {
				top: 11%;
				bottom: 16%;
				left: 8%;
				right: 8%;
			}
		}

	}

	.project-type {
		width: 100%;
		height: auto;
	}



	// DIFFERENT BACKGROUND PER PROJECT

	.friendticker .project-type-wrapper:before {
		background: transparent url('../imgs/projects/friendticker.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.glassysurf .project-type-wrapper:before {
		background: transparent url('../imgs/projects/glassysurf.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.surfcast .project-type-wrapper:before {
		background: transparent url('../imgs/projects/surfcast.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.chisholm .project-type-wrapper:before {
		background: transparent url('../imgs/projects/chisholm.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.melbourne-festival .project-type-wrapper:before {
		background: transparent url('../imgs/projects/melbourne-festival.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.skilled .project-type-wrapper:before {
		background: transparent url('../imgs/projects/skilled.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.seek-learning .project-type-wrapper:before {
		background: transparent url('../imgs/projects/seek-learning.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.nissan .project-type-wrapper:before {
		background: transparent url('../imgs/projects/nissan.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.seek-learning-mobile .project-type-wrapper:before {
		background: transparent url('../imgs/projects/seek-learning-mobile.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.sneakerboy .project-type-wrapper:before {
		background: transparent url('../imgs/projects/sneakerboy.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.asia-fashion-week .project-type-wrapper:before {
		background: transparent url('../imgs/projects/asia-fashion-week.jpg') center top no-repeat;
		background-size: 100% auto;
	}

	.tasmania-touring .project-type-wrapper:before {
		background: transparent url('../imgs/projects/tasmania-touring.jpg') center top no-repeat;
		background-size: 100% auto;
	}

}