.work_experience {
	padding-top: 20px;
	padding-bottom: 40px;

	.alert {
	
		position: relative;
		overflow: hidden;

		.country {
			content: '';
			position: absolute;
			top: 10px;
			right: 10px;
			width: 28px;
			height: 28px;
			background-color: transparent;
			z-index: 1;
			border-radius: 28px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			perspective: 60px; 

			div { 
			    width: 100%; 
			    height: 100%; 
			    position: absolute;
			    border-radius: 28px;
			    transition: transform 1.2s; 
			    transform-style: preserve-3d;

			    figure { 
			        display: block; 
			        height: 100%; 
			        width: 100%; 
			        position: absolute; 
			        margin:0px;
			        border-radius: 28px;
			        backface-visibility: hidden;
			    }

			}

			&.au {

				.back {
					background:transparent url('../imgs/flags/square/au.svg') center center no-repeat;
					background-size: 28px 28px;
				}

				.front {
					background:transparent url('../imgs/flags/square/au.svg') center center no-repeat;
					background-size: 28px 28px;
				}
			}

			&.de {

				.back {
					background:transparent url('../imgs/flags/square/de.svg') center center no-repeat;
					background-size: 28px 28px;
				}

				.front {
					background:transparent url('../imgs/flags/square/de.svg') center center no-repeat;
					background-size: 28px 28px;
				}
			}

			&.za {

				.back {
					background:transparent url('../imgs/flags/square/za.svg') center center no-repeat;
					background-size: 28px 28px;
				}

				.front {
					background:transparent url('../imgs/flags/square/za.svg') center center no-repeat;
					background-size: 28px 28px;
				}
			}

			.back {
				transform: rotateY( 180deg );
			}

			&.country-visible {

				div {
					transform: rotateY( 180deg ); 
				}

			}

		}

	}
}