<!DOCTYPE html>

<html class="no-js" lang="en">
    
    <head>
    	
    	{{> head_includes }}

    </head>
    
    <body>
		
        {{> body }}
    	
    	{{> footer }}
		
        {{> foot_includes }}
        
    </body>

</html>