<section class="current_projects">
	
	{{> all_projects}}

	

{{!-- 	<div class="col-md-4">

		<article class="desktop">
			d
		</article>

	</div>

	<div class="col-md-4">
	
		<article class="tablet">
			t
		</article>

	</div>

	<div class="col-md-4">
		
		<article class="mobile">
			m
		</article>

	</div> --}}

</section>