<section class="skills">

	<h4>Skills</h4>

	<h6>Daily tools:</h6>
	<span class="label label-success">HTML5</span>
	<span class="label label-success">CSS3</span>
	<span class="label label-success">JavaScript</span>
	<span class="label label-success">Middleman</span>
	<span class="label label-success">Yeoman</span>
	<span class="label label-success">GruntJS</span>
	<span class="label label-success">Accessibility</span>
	

	<h6>Frameworks:</h6>
	<span class="label label-info">Angular</span>
	<span class="label label-info">Backbone</span>
	<span class="label label-info">Ember</span>
	<span class="label label-info">jQuery</span>
	<span class="label label-info">Meteor</span>
	<span class="label label-info">Rails</span>
	<span class="label label-info">Compass</span>
	<span class="label label-info">Express</span>
	
	<h6>Technology:</h6>
	<span class="label label-warning">Ruby</span>
	<span class="label label-warning">Node.js</span>
	<span class="label label-warning">PHP</span>
	<span class="label label-warning">Wordpress</span>
	
	<h6>Work environment:</h6>
	<span class="label label-primary">Git</span>
	<span class="label label-primary">TFS</span>
	<span class="label label-primary">SVN</span>
	<span class="label label-primary">Scrum</span>
	<span class="label label-primary">Wercker</span>
	<span class="label label-primary">Heroku</span>
	<span class="label label-primary">Sublime Text</span>
	<span class="label label-primary">Visual Studio</span>
	<span class="label label-primary">Photoshop</span>
	<span class="label label-primary">Illustrator</span>

	<h6>Personal:</h6>
	<span class="label label-danger">Creativity</span>
	<span class="label label-danger">Goal orientation</span>
	<span class="label label-danger">Self-motivation</span>
	<span class="label label-danger">Flexibility</span>
	<span class="label label-danger">Ability to work under pressure</span>
	<span class="label label-danger">Accuracy</span>
	<span class="label label-danger">Motivated learner</span>

</section>