<h4>Skills</h4>

<p>As a professional front-end developer for web applications I love to build clean and user friendly applications for mobile devices and desktop computers. With my acquired technical knowledge, I am able to build applications or websites suitable for every device on the market. I feel comfortable to work in a team, in an independent manner and also to be in contact with clients.</p>

<p>My latest projects gave me the opportunity to work on a device independent mobile application to serve Android and iOS devices at the same time. In my opinion mobile and desktop applications are going to merge in the near future. I am sure that every web-driven application has to be ready for different devices and operating systems. Client-side programming will gain a lot more importance. I am convinced that I am ready to serve this trend!</p>

<p>My daily tools: HTML5, CSS3, native Javascript, Javascript Frameworks (jQuery, Backbone.js), HAML, SASS, Photoshop, Git, Scrum</p>