<section class="work_experience">
  
  <h4>Work experience</h4>
  <br>
  <div class="alert alert-info au">
      <p>
      	<strong>Sep 2012 - ongoing</strong><br>
      	Front-End Developer<br>
      	<i>Reactive Pty Ltd, Melbourne, <a href="http://www.reactive.com" target="_blank" data-gauges-event="reactive.com">www.reactive.com</a></i>
      </p>
      <p>
      	Delivering complex projects for renowned clients in close cooperation with Back-End Developers, Designers and Project Management
      </p>
      <p>
      	<strong>Clients e.g.</strong><br>
  		- SEEK Learning, Nissan Australia, Medibank, Chisholm, AFL Store, Melbourne Festival
  	</p>

    <section class="country au"> 
        <div> 
          <figure class="front"></figure>
          <figure class="back"></figure> 
        </div>
    </section>

  </div>
  <br>
  <div class="alert alert-info de">
      <p>
      	<strong>Jan 2011 - Aug 2012</strong><br>
      	Front-End Developer<br>
      	<i>Servtag GmbH, Berlin, <a href="http://www.servtag.com" target="_blank" data-gauges-event="servtag.com">www.servtag.com</a></i>
      </p>
      <p>
      	<strong>Products</strong><br>
  		- Friendticker: Frontend for location-based Ruby-on-Rails-Application<br>
  		- Dealomio: Location-based web application built with Backbone<br>
  		- Analytics: Custom Webapplication for analysing Dealomio data<br>
  		- Radcarpet: Native JavaScript-SDK for mobile advertisment
  	</p>
    <section class="country de"> 
        <div> 
          <figure class="front"></figure>
          <figure class="back"></figure> 
        </div>
    </section>
  </div>
  <br>
  <div class="alert alert-info za">
      <p>
      	<strong>Jun 2010 - Oct 2010</strong><br>
      	Web Developer<br>
      	<i>Kreatif, Cape Town, <a href="http://www.kreatif.co.za" target="_blank" data-gauges-event="kreatif.co.za">www.kreatif.co.za</a></i>
      </p>
      <p>
      	- Realisation of various small to medium sized website projects
  	</p>
    <section class="country za"> 
        <div> 
          <figure class="front"></figure>
          <figure class="back"></figure> 
        </div>
    </section>
  </div>
  <br>
  <div class="alert alert-info de">
      <p>
      	<strong>Oct 2008 - Apr 2010</strong><br>
      	Front-End Developer<br>
      	<i>Servtag GmbH, Berlin, <a href="http://www.servtag.com" target="_blank" data-gauges-event="servtag.com">www.servtag.com</a></i>
      </p>
      <p>
      	- Participation in the establishment of start-up company
  	</p>
    <section class="country de"> 
        <div> 
          <figure class="front"></figure>
          <figure class="back"></figure> 
        </div>
    </section>
  </div>

</section>
