<section class="work_experience">
  
  <h4 id="work_experience">Work experience</h4>
  <br>
  <div class="alert alert-info">
      <p>
      	<strong>Sep 2012 - ongoing</strong><br>
      	Front-End Developer (Full-Time)<br>
      	<i>Reactive Pty Ltd, Melbourne, <a href="http://www.reactive.com" target="_blank">www.reactive.com</a></i>
      </p>
      <p>
      	Delivering complex projects for renowned clients in close cooperation with Back-End Developers, Designers and Project Management
      </p>
      <p>
      	<strong>Clients e.g.</strong><br>
  		- SEEK Learning, Nissan Australia, Medibank, Chisholm, AFL Store, Melbourne Festival
  	</p>
  </div>
  <br>
  <div class="alert alert-info">
      <p>
      	<strong>Jan 2011 - Aug 2012</strong><br>
      	Front-End Developer (Full-Time)<br>
      	<i>Servtag GmbH, Berlin, <a href="http://www.servtag.com" target="_blank">www.servtag.com</a></i>
      </p>
      <p>
      	<strong>Products</strong><br>
  		- Friendticker: Frontend for location-based Ruby-on-Rails-Application<br>
  		- Dealomio: Location-based web application built with Backbone<br>
  		- Analytics: Custom Webapplication for analysing Dealomio data<br>
  		- Radcarpet: Native JavaScript-SDK for mobile advertisment
  	</p>
  </div>
  <br>
  <div class="alert alert-info">
      <p>
      	<strong>Jun 2010 - Okt 2010</strong><br>
      	Web Developer (Internship)<br>
      	<i>Kreatif, Cape Town, <a href="http://www.kreatif.co.za" target="_blank">www.kreatif.co.za</a></i>
      </p>
      <p>
      	- Realisation of various small to medium sized website projects
  	</p>
  </div>
  <br>
  <div class="alert alert-info">
      <p>
      	<strong>Jan 2009 - Apr 2010</strong><br>
      	Front-End Developer (Internship)<br>
      	<i>Servtag GmbH, Berlin, <a href="http://www.servtag.com" target="_blank">www.servtag.com</a></i>
      </p>
      <p>
      	- Participation in the establishment of start-up company
  	</p>
  </div>

</section>
