<footer>
	<div class="bottom-menu">
		<div class="container">

			<ul class="bottom-icons">
				<li>
					<a href="https://twitter.com/dennisroethig" target="_blank" data-gauges-event="Twitter">@dennisroethig</a>
				</li>
				<li>
					<a href="https://github.com/dennisroethig" target="_blank" data-gauges-event="Github">Github</a>
				</li>
				<li>
					<a href="https://coderbits.com/dennis" target="_blank" data-gauges-event="Coderbits">Coderbits</a>
				</li>
				<li class="wercker-status">
					<a href="https://app.wercker.com/project/bykey/d685c7de12c3e4b9757e1496c4fc3db3" data-gauges-event="Wercker"><img alt="Wercker status" src="https://app.wercker.com/status/d685c7de12c3e4b9757e1496c4fc3db3"></a>
				</li>
			</ul>

		</div>
	</div>
</footer>	