<footer>
	<div class="bottom-menu">
	  <div class="container">
	  	<ul class="bottom-icons">
	  	    <li>
	  	      <a href="#" class="fui-pinterest"></a>
	  	      {{ footer.name }}
	  	    </li>
	  	  </ul>
	  </div>
	</div>
</footer>