<div class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#main-nav"></button>
      
      <a href="/" class="navbar-brand">Dennis Roethig</a>

      <div class="nav-collapse collapse in" id="main-nav">
        <ul class="nav pull-right">
            
{{!--             <li class="{{blog_page_class}}">
              <a href="blog.html">
                <span class="fui-chat"></span>
                <span class="">Blog</span>
              </a>
            </li> --}}
            
            <li class="{{like_page_class}}">
              <a href="like.html">
                <span class="fui-heart"></span>
                <span class="">Like</span>
              </a>
            </li>

            <li class="{{resume_page_class}}">
              <a href="resume.html">
                <span class="fui-user"></span>
                <span class="">Resume</span>
              </a>
            </li>
            
            <li class="{{projects_page_class}}">
              <a href="projects.html">
                <span class="fui-image"></span>
                <span class="">Projects</span>
              </a>
            </li>

          </ul>
      </div>
    </div>
  </div>
</div>