<meta charset="utf-8">
<!--[if lt IE 9]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->

<meta name="description" content="">
<meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
<meta name="google-site-verification" content="vw2KdN1EBGMPLYieisr5AUCA22kQFJ4DVL5d4WGBCQo" />

<title>Dennis Roethig - Front-End Developer</title>

<link rel="shortcut icon" href="resources/imgs/favicon.ico">

<link rel="stylesheet" href="resources/css/styles.css">