<head>
    <meta charset="utf-8">
    <!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <title>Dennis Roethig - Front-End Developer</title>
    <meta name="description" content="">
    <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />

    <link rel="shortcut icon" href="resources/imgs/favicon.ico">

    {{#if production}}
        <link rel="stylesheet" href="resources/css/main.css">
    {{else}}
        <link rel="stylesheet" href="resources/css/bootstrap.min.css">
        <link rel="stylesheet" href="resources/css/flat-ui.min.css">
        <link rel="stylesheet" href="resources/css/site.css">
    {{/if}}

</head>