---
title: Index Page
resume_page_class: inactive
like_page_class: inactive
projects_page_class: inactive
internal_links:
- Skills
- Work Experience
---

{{> header}}

<div class="container">
	<div class="row">

		<div class="col-md-3">

			<ul class="nav nav-list" data-spy="affix" data-offset-top="70">
			  <li><a href="#skills">Skills</a></li>
			  <li><a href="#work_experience">Work Experience</a></li>
			</ul>

		</div>
		
		<div class="col-md-9">

			<h3>{{title}}</h3>

			{{> skills}}

			{{> work_experience}}

		</div>

	</div>
</div>
