---
title: Index Page
blog_page_class: inactive
resume_page_class: inactive
like_page_class: inactive
projects_page_class: inactive
---

{{> header}}

<div class="container">
	<div class="row">
		
		<div class="col-md-12">
			

			
		</div>

	</div>
</div>
