---
title: Index Page
blog_page_class: inactive
resume_page_class: inactive
like_page_class: inactive
projects_page_class: inactive
---

{{> header}}

<div class="container">
	<div class="row introduction">
		
		<div class="col-sm-3">
			<img src="resources/imgs/dennis.jpg" />
		</div>
		<div class="col-sm-9">
			
			<h4>Thanks for stopping by!</h4>
			<p>My name is Dennis and I'm a front-end developer from Germany. Currently I am living and working in Melbourne, Australia.
			Since 2008 I'm trying to make the web a better place and I'm enjoying every bit of it. In doing so I am also growing my own skills.</p>

			<p>A bit of history: After my studies I moved to Berlin and helped a start-up to become Europe's first location-based ad network.
			Then, in summer 2012, my girlfriend and I decided to move down under and take up a new challenge.</p>

			<p>It’s over a year now that I help Reactive - one of Australia's biggest digital agencies - to tackle their development challenges.
			Right now my favourite topic is JavaScript and basically everyday I discover something new.</p>

			<p>If you want to contact me or tell me about an exciting project, I’d love to hear from you.</p>

		</div>

	</div>
</div>
