---
title: Things I like
blog_page_class: inactive
resume_page_class: inactive
like_page_class: active
projects_page_class: inactive
internal_links:
- xxx
---

{{> header}}

<div class="container">
	<div class="row">
		
		<div class="col-md-12">
			
			<section class="like">
				
				<div class="row">
					<div class="col-xs-3">
						<img src="resources/imgs/icons/svg/settings.svg" alt="">
					</div>
					<div class="col-xs-9">
						<h3>Handcrafted</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-xs-3">
						<img src="resources/imgs/icons/svg/retina.svg" alt="">
					</div>
					<div class="col-xs-9">
						<h3>Detail</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-xs-3">
						<img src="resources/imgs/icons/svg/flask.svg" alt="">
					</div>
					<div class="col-xs-9">
						<h3>Experiments</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-xs-3">
						<img src="resources/imgs/icons/svg/news.svg" alt="">
					</div>
					<div class="col-xs-9">
						<h3>Informed</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-xs-3">
						<img src="resources/imgs/icons/svg/money.svg" alt="">
					</div>
					<div class="col-xs-9">
						<h3>Fun</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-xs-3">
						<img src="resources/imgs/icons/svg/rocket.svg" alt="">
					</div>
					<div class="col-xs-9">
						<h3>Challenge</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				

			</section>

		</div>

	</div>
</div>