---
title: Things I like
blog_page_class: inactive
resume_page_class: inactive
like_page_class: active
projects_page_class: inactive
internal_links:
- xxx
---

{{> header}}

<div class="container">
	<div class="row">
		
		<div class="col-md-12">
			
			<section class="like">
				
				{{> handcrafted }}

				<hr>

				{{> details }}

				<hr>

				{{> experiments }}

				<hr>

				{{> information }}

				<hr>

				{{> challenge }}
				
			</section>

		</div>

	</div>
</div>