---
title: Projects
blog_page_class: inactive
resume_page_class: inactive
like_page_class: inactive
projects_page_class: active
---

{{> header}}

<div class="container">

	{{> current_projects}}
		
</div>