---
title: Projects
blog_page_class: inactive
resume_page_class: inactive
like_page_class: inactive
projects_page_class: active
---

{{> header}}

<div class="container">

		{{> current_projects}}
		
{{!-- 		<div class="col-md-12">

			<h4>Mobile</h4>
			
			<img src="resources/imgs/icons/svg/magicmouse.svg" alt="">
			<img src="resources/imgs/icons/svg/imac.svg" alt="">
			<img src="resources/imgs/icons/svg/ipad.svg" alt="">
			<img src="resources/imgs/icons/svg/iphone.svg" alt="">
			<img src="resources/imgs/icons/svg/responsive.svg" alt="">
			
			<img src="resources/imgs/icons/svg/user-interface.svg" alt="">
			<img src="resources/imgs/icons/svg/yinyang.svg" alt="">
			
			
			
			<img src="resources/imgs/icons/svg/clocks.svg" alt="">
			
			
			<img src="resources/imgs/icons/svg/shield.svg" alt="">
			

		</div> --}}

</div>