---
title: Index Page
blog_page_class: inactive
resume_page_class: inactive
like_page_class: inactive
projects_page_class: inactive
---

{{> header}}

<div class="container">
	<div class="row introduction">
		...
	</div>
</div>
