---
title: Resume Page
blog_page_class: inactive
resume_page_class: active
like_page_class: inactive
projects_page_class: inactive
internal_links:
- Skills
- Work Experience
---

{{> header}}

<div class="container">
	<div class="row">

		<div class="col-md-3">

			<ul class="nav nav-list">
			  <li><a href="#professional_profile">Professional Profile</a></li>
			  <li><a href="#work_experience">Work Experience</a></li>
			</ul>

		</div>
		
		<div class="col-md-9">
			
			{{> skills}}
			
			<hr>

			{{> work_experience}}
			
		</div>

	</div>
</div>
