---
title: Resume Page
blog_page_class: inactive
resume_page_class: active
like_page_class: inactive
projects_page_class: inactive
---

{{> header}}

<div class="container">
	<div class="row">

		<div class="col-md-4">

			{{> skills}}

		</div>
		
		<div class="col-md-8">

			{{> work_experience}}
			
		</div>

	</div>
</div>
