---
title: Resume Page
resume_page_class: active
like_page_class: inactive
projects_page_class: inactive
internal_links:
- Skills
- Work Experience
---

{{> header}}

<div class="container">
	<div class="row">

		<div class="col-md-3">

			{{> side_nav}}

		</div>
		
		<div class="col-md-9">

			<h3>{{title}}</h3>

		</div>

	</div>
</div>