<div class="row">
	<div class="col-xs-12 col-sm-3">
		<img src="resources/imgs/icons/svg/rocket.svg" alt="">
	</div>
	<div class="col-xs-12 col-sm-9">
		<h3>Challenge</h3>
		<p>To summarise the above: I love my job and it's important for me to keep up this motivation for the future. A main part achieving this is to be challenged every day. A lot of the issues that you're running into on a daily basis will repeat themselves and you will figure out how to solve them more efficiently after a while. But if you end up doing only the same things over and over again, you will have problems to keep up with the rest of the industry. You have to keep on learning and find a good challenge for yourself. There is nothing better to work with people who are 'better' or are more experienced than yourself. Those people are the most underestimated sources of knowledge and learning opportunities for a developer!</p>
	</div>
</div>