<div class="row">
	<div class="col-xs-3">
		<img src="resources/imgs/icons/svg/rocket.svg" alt="">
	</div>
	<div class="col-xs-9">
		<h3>Challenge</h3>
		<p>I love my job and it's important for me that this is the case in the future. A main part of that is to be challenged every day. A lot of the issues you're running into on a daily basis will repeat theirself and you will figure out how to solve them more efficient after a while. But if you end up doing only the same things, without learning, you will have problems to keep up with the rest of the industry. There is nothing better to work with people who are 'better' or have more experience than yourself - these are the most underestimated sources of knowledge you can have as a developer!</p>
	</div>
</div>