<div class="row">
	<div class="col-xs-12 col-sm-3">
		<img src="resources/imgs/icons/svg/retina.svg" alt="">
	</div>
	<div class="col-xs-12 col-sm-9">
		<h3>Details</h3>
		<p>Details make the difference between a good and a great product. Trying to meet deadlines of a project, often times the details are overlooked. However details matter to get the best result possible. It's way too easy to rush a project and to deliver before it's perfected. That applies to both design elements and the implementation of specific features. I love to focus on the details and think about the implications of decisions. If you do a good job in the planning phase of a project, you are able to include fantastic features, even if time is limited. So with a vision in mind that includes fine-tuning your product will be a great success.</p>
	</div>
</div>