<div class="row">
	<div class="col-xs-3">
		<img src="resources/imgs/icons/svg/retina.svg" alt="">
	</div>
	<div class="col-xs-9">
		<h3>Details</h3>
		<p>Details make the difference between a good and a great product. It's way to easy to rush a project and to ship it before it's finished. That applies to both design elements and the implementation of specific features. I love to focus on the details and think about the implications of decisions. If you do a good job while planning a project, you are able to include awesome features, even if you have a limited timeframe. Think ahead what you are able to achieve without forgetting the polish and your product will be a success.</p>
	</div>
</div>