<div class="row">
	<div class="col-xs-3">
		<img src="resources/imgs/icons/svg/flask.svg" alt="">
	</div>
	<div class="col-xs-9">
		<h3>Experiments</h3>
		<p>It's necessary to have good knowledge of important topics to work efficent but it's even more important to go beyond the edges of your skills. Trying out new technologies, frameworks and workflows offer a great opportunity to learn and gather experience. Even if it's not directly related to my daily workflow, I try to get involved into open source projects or community meetings to improve my professional and personal habits. Without experimenting, you will never discover new things.</p>
	</div>
</div>
