<div class="row">
	<div class="col-xs-12 col-sm-3">
		<img src="resources/imgs/icons/svg/flask.svg" alt="">
	</div>
	<div class="col-xs-12 col-sm-9">
		<h3>Experiments</h3>
		<p>It's crucial to have a good knowledge of recent developments in the world of technology. However, to work efficiently it's even more important to exceed your own limits. Trying out new technologies, frameworks and workflows offers a great opportunity to learn and gather experience. Besides my daily work, I try to get involved in open source projects and tech events to improve my professional and personal abilities. Without experimenting, you will never discover new things.</p>
	</div>
</div>
