<div class="row">
	<div class="col-xs-3">
		<img src="resources/imgs/icons/svg/money.svg" alt="">
	</div>
	<div class="col-xs-9">
		<h3>Fun</h3>
		<p>Believe it or not - but for me it's all about fun. I love my job and the tasks I work on. It's important that</p>
	</div>
</div>