<div class="row">
	<div class="col-xs-12 col-sm-3">
		<img src="resources/imgs/icons/svg/settings.svg" alt="">
	</div>
	<div class="col-xs-12 col-sm-9">
		<h3>Handcrafted</h3>
		<p>Being a smart developer means knowing when to handcraft things and when to use existing tools. Twitter Bootstrap, which is used as a basis for this site, offers a great solution for both developers and tech-savvy designers to create simple and fully functional prototypes in a short amount of time. More development focused frameworks like Middleman or Yeoman try to optimise common tasks and to improve daily workflows for developers. I believe to be a skilled web developer it became more important than ever to understand how these tools and other things function in the background. If you are able to make the right decisions at the right time, you can work efficiently with existing solutions and build stuff where it is necessary.</p>
	</div>
</div>