<div class="row">
	<div class="col-xs-3">
		<img src="resources/imgs/icons/svg/settings.svg" alt="">
	</div>
	<div class="col-xs-9">
		<h3>Handcrafted</h3>
		<p>Twitter Bootstrap, which is used as a basis for this site, offers a great solution for both developers and tech-savvy designers to create simple and fully functional prototypes in a short amount of time. More development focused frameworks like Middleman or Yeoman try to optimize common tasks and to improve daily workflows for developers. Beside or especially because of these tools, I'm sure that it's more important than ever, that a skilled web developer knows what goes on in the background. If you are able to make the right decisions at the right time, you can work efficient with existing solutions and build stuff by hand when it makes sense.</p>
	</div>
</div>