<div class="row">
	<div class="col-xs-12 col-sm-3">
		<img src="resources/imgs/icons/svg/news.svg" alt="">
	</div>
	<div class="col-xs-12 col-sm-9">
		<h3>Information</h3>
		<p>As web development progresses extremely fast, it is essential to keep up-to-date with the ever changing web environment. A good example for this are current browsers, which release several major versions per year. It's a challenge - besides your daily work - to filter all the noise and take in the valuable information. I think it’s one of the best things about my field that there is a great give and take. The result is a worldwide accessible pool of information. I like sharing my knowledge with other people, because I can instantly make a valuable contribution to someone else’s work.</p>
	</div>
</div>