<div class="row">
	<div class="col-xs-3">
		<img src="resources/imgs/icons/svg/news.svg" alt="">
	</div>
	<div class="col-xs-9">
		<h3>Information</h3>
		<p>Web development progresses extremly fast compared to other sectors (development and non-development wise). It's essential to keep yourself up-to-date to adapt to the ever changing web environment. A good example for that are current browsers, which release several major versions in a single year. It's a challenge - beside your daily work - to filter all the noise and keep the valuable information. And as soon as you start to communicate and share your knowledge with different people, you will notice that you get the same back.</p>
	</div>
</div>